body{
    background-image: url("https://png.pngtree.com/background/20210714/original/pngtree-original-neon-stage-divergent-background-rectangle-picture-image_1214625.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
}
.pree{
    position: relative;
    width: 600px;
    height: 700px;
    background: rgba(2, 198, 247, 0.83);
    color: #96067e;
    padding: 80px 30px 25px 30px;
    border-radius: 20px;
    position: center;
}

